// Styles for the topic admin menu

.show-topic-admin {
  position: fixed;
  top: 120px;
  right: 10px;
  z-index: z("dropdown");
  height: 35px;
}

.popup-menu {
  background-color: $secondary;
  width: 215px;
  padding: 10px;
  border: 1px solid $primary-low;
  z-index: z("dropdown");
  box-shadow: shadow("card");

  ul {
    list-style: none;
    margin: 10px 0 0 0;
  }

  .btn {
    text-align: left;
  }

  button {
    width: 100%;
    margin-bottom: 5px;
  }

  .header {
    .close-button {
      display: none;
    }
  }

  @include breakpoint(mobile-extra-large) {
    width: 100%;
    padding: 0;

    .header {
      padding: 10px 0 0 10px;
      display: flex;
      justify-content: space-between;
      .close-button {
        display: block;
        background: transparent;
      }
    }
    ul {
      margin-top: 0;
    }
  }
}

.modal-body.feature-topic {
  padding: 5px;
  max-height: 500px;
  input.date-picker {
    margin: 0;
  }
  hr {
    margin: 10px 0;
  }
  .feature-section {
    display: block;
    .badge-wrapper {
      margin-right: 0;
    }
    .desc {
      display: inline-block;
      vertical-align: middle;
      margin-left: 10px;
      p:first-of-type {
        margin: 0;
      }
      p {
        margin: 10px 0 0;
      }
    }
    .with-validation {
      position: relative;
    }
  }
}

.desktop-view .feature-topic-modal {
  .feature-topic {
    overflow: visible;
  }

  .modal-inner-container {
    min-width: 700px;
  }

  .pin-until {
    position: relative;
    display: inline-block;
  }
}

.mobile-view .feature-topic .feature-section {
  .desc {
    display: block;
    clear: both;
    max-width: 90%;
    margin: 0 10px;
  }
}

// Select posts

.selected-posts {
  border: 1px solid $tertiary-medium;
  background-color: $tertiary-low;
  .btn {
    border: none;
    color: $secondary;
    font-weight: normal;
    margin-bottom: 10px;
    &:not(.btn-danger) {
      background: $tertiary;
      border-color: $tertiary;
      &[href] {
        color: $secondary;
      }
      &:hover {
        color: $secondary;
        background: $tertiary-high;
      }
      &:active {
        @include linear-gradient(
          darken($tertiary, 18%),
          darken($tertiary, 12%)
        );
        color: $secondary;
      }
    }
    &[disabled] {
      text-shadow: 0 1px 0 rgba($primary, 0.2);
      @include linear-gradient($tertiary, darken($tertiary, 20%));
      box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.33);
    }
  }
}
